
service_account.json
*.pem
*.p12
*.key
.env
.env.local

Planilha_Visita_Site.xlsx
~$*
temp_register_sw.txt

__pycache__/
*.pyc
*.log
.DS_Store


.conda/
conda-env/
env/
venv/
.venv/


node_modules/
.next/
